{
	frankenphp
	order php_server before file_server
	log {
		output stderr
		level DEBUG
	}
}

:80 {
	bind 0.0.0.0
	root * /app/public
	encode zstd br gzip

	# Simple health-check endpoint that does not require PHP
	respond /healthz 200

	php_server
}
