{
	frankenphp
	order php_server before file_server
	log {
		output stderr
		level INFO
	}
}

:8080 {
	bind 0.0.0.0
	root * /app/public
	encode zstd br gzip

	handle /health {
		respond "OK" 200
	}

	@insecure header X-Forwarded-Proto != https
	redir @insecure https://{host}{uri} 301

	php_server
}
